
<%- include('headers'); -%>


<body>

    <div class="box" id="heading">
        <h1>
            <%= listtitle %>
        </h1>
    </div>

    <div class="box">
     <% for( var i=0; i < ditems.length; i++){ %>
            <div class="item">
                <input type="checkbox">
                <p >  <%= ditems[i] %>  </p> 
            </div>
            <% } %>

            <form class="item" action="/" method="post">
                <input type="text" name="newitem" placeholder="write your text">
                <button type="submit" name="button" value="<%= listtitle %>">+</button>
            </form>

    </div>


</body>

<%- include('footer'); -%>

